/* ---------------------- */
/* --- CSS Style Page --- */
/* ---------------------- */

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    text-align: center;
    /* background-color: rgb(16, 16, 48); */
    background-image: linear-gradient(to right, rgb(75, 75, 143), rgb(13, 13, 42));
    color: rgb(242, 252, 255);
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
}

/* Element Selectors */
header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* align-content: right; */
}

nav {
    align-items: flex-end;
    min-width: 200px;
    justify-content: flex-end;

}

ul {
    background-image: linear-gradient(rgb(75, 75, 143), rgb(13, 13, 42));
    margin: 5%;
    align-items: center;

}

a,
li {
    display: inline;
    color: rgb(160, 233, 255);
}

h2 {
    background-image: linear-gradient(rgb(75, 75, 143), rgb(13, 13, 42));
}





/* Class Selectors */

.title {
    min-width: 200px;

}

.outline {
    border: 2px solid rgb(2, 20, 2);
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
}


.right {
    align-items: right;
    justify-content: right;
}

.card {
    background-color: black;
}


#work {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

#highlight {
    background-color: black;
}

@media screen and (min-width: 768px) {

    .bio-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }

    .bio {
        flex: 1 0 48%;
        max-width: 40%;
    }

    .card {
        flex: 1 0 40%;
        max-width: 40%;
    }

}


@media screen and (min-width: 992px) {

    /* header {
      width: 75%;
    }
   */
    .bio-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }

    .bio {
        flex: 1 0 48%;
        max-width: 40%;
        flex-direction: row;
    }

    .card {
        flex: 1 0 30%;
        max-width: 30%;
    }
}




/* @media screen and (max-width: 992px) {
    .card {
        flex: 1 0 49%;
      
    }
} */